In [1]:
import duckdb
import lonboard
from lonboard import Map, ScatterplotLayer
import pandas as pd
import geopandas as gpd

## Load Data with DuckDB

Connect to DuckDB and load geospatial data.

In [2]:
# Create an in-memory DuckDB connection
con = duckdb.connect(':memory:')

# Example: Create a sample dataset
con.execute("""
    CREATE TABLE locations AS
    SELECT 
        1 as id,
        37.7749 as latitude,
        -122.4194 as longitude,
        'San Francisco' as city
    UNION ALL
    SELECT 
        2,
        34.0522,
        -118.2437,
        'Los Angeles'
    UNION ALL
    SELECT 
        3,
        40.7128,
        -74.0060,
        'New York'
""")

# Query data
result = con.execute("SELECT * FROM locations").fetchall()
print(result)

[(1, Decimal('37.7749'), Decimal('-122.4194'), 'San Francisco'), (2, Decimal('34.0522'), Decimal('-118.2437'), 'Los Angeles'), (3, Decimal('40.7128'), Decimal('-74.0060'), 'New York')]

## Visualize with Lonboard

Create an interactive map using lonboard.

In [8]:
gdf.head()

   latitude  longitude           city                   geometry
0   37.7749  -122.4194  San Francisco  POINT (-122.4194 37.7749)
1   34.0522  -118.2437    Los Angeles  POINT (-118.2437 34.0522)
2   40.7128   -74.0060       New York    POINT (-74.006 40.7128)

In [5]:
# Convert to DataFrame for lonboard
df = con.execute("SELECT latitude, longitude, city FROM locations").df()
geometry = gpd.points_from_xy(df['longitude'], df['latitude'])

# Create a GeoDataFrame
gdf = gpd.GeoDataFrame(df, geometry=geometry, crs="EPSG:4326")

# Create a scatter plot layer
layer = ScatterplotLayer.from_geopandas(
    gdf,
    get_fill_color=[0, 0, 255],
    get_radius=100000,
)

# Create map
map_view = Map(layers=[layer])
map_view